<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https:cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>CAR NOTES</title>
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">
                    <span class="brand1">CAR</span>
                    <span class="brand2">NOTES</span>
                </a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>

            </div>
        </header>
        <main>
            <div class="title">Lista de Autos</div>
            <div class="container row center">
                <div class="card">
                    <a href="car.html">
                        <img class="medium" src="./images/nissan.jpg" alt="car">
                    </a>
                    <div class="card-title">
                        <h2>NISSAN SE</h2>
                    </div>
                    <div class="card-body">
                        <div><b>Motor:</b> 2000 cc. </div>
                        <div><b>Año: </b>2012 </div>
                        <div><b>Placa: </b>PBV-5058 </div>
                        <div><b>Ult. Mantenimiento:</b> 2021/05/05 </div>
                    </div>
                </div>

                <div class="card">
                    <a href="car.html">
                        <img class="medium" src="./images/sportage.jpg" alt="car">
                    </a>
                    <div class="card-title">
                        <h2>KIA Sportage R</h2>
                    </div>
                    <div class="card-body">
                        <div><b>Motor:</b> 2000 cc. </div>
                        <div><b>Año: </b>2015 </div>
                        <div><b>Placa: </b>PCN-8080 </div>
                        <div><b>Ult. Mantenimiento:</b> 2021/05/05 </div>
                    </div>
                </div>
                <div class="card">
                    <a href="car.html">
                        <img class="medium" src="./images/nissan.jpg" alt="car">
                    </a>
                    <div class="card-title">
                        <h2>NISSAN SE</h2>
                    </div>
                    <div class="card-body">
                        <div><b>Motor:</b> 2000 cc. </div>
                        <div><b>Año: </b>2012 </div>
                        <div><b>Placa: </b>PBV-5058 </div>
                        <div><b>Ult. Mantenimiento:</b> 2021/05/05 </div>
                    </div>
                </div>
                <div class="card">
                    <a href="car.html">
                        <img class="medium" src="./images/sportage.jpg" alt="car">
                    </a>
                    <div class="card-title">
                        <h2>KIA Sportage R</h2>
                    </div>
                    <div class="card-body">
                        <div><b>Motor:</b> 2000 cc. </div>
                        <div><b>Año: </b>2015 </div>
                        <div><b>Placa: </b>PCN-8080 </div>
                        <div><b>Ult. Mantenimiento:</b> 2021/05/05 </div>
                    </div>
                </div>
                <div class="card">
                    <a href="car.html">
                        <img class="medium" src="./images/sportage.jpg" alt="car">
                    </a>
                    <div class="card-title">
                        <h2>KIA Sportage R</h2>
                    </div>
                    <div class="card-body">
                        <div><b>Motor:</b> 2000 cc. </div>
                        <div><b>Año: </b>2015 </div>
                        <div><b>Placa: </b>PCN-8080 </div>
                        <div><b>Ult. Mantenimiento:</b> 2021/05/05 </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row center">All rigths reserved</footer>
    </div>
</body>

</html>